table {
    width: 100%;
}

td > button {
    color: #f7f8fc;
}

.update {
    margin: 0px 10px 0px 10px;
    background-color: #f0ad4e;
}

.delete {
    background-color: #d9524e;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0px 24px 0px 24px;
}