<mat-card>
    <mat-card-title>Update Product</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput required placeholder="Name" title="Campo vazio."
            [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput required pattern="^[0-9.]+$" title="Apenas valores acima de 0." placeholder="Price (R$)" 
            [(ngModel)]="product.price" name="price">
        </mat-form-field>
        <mat-form-field>
            <input matInput required pattern="^[0-9]+$" title="Apenas valores inteiros acima de 0." placeholder="Quantity" 
            [(ngModel)]="product.quantity" name="quantity">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateProduct()" color="primary">
        Save
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>